body {
  background-color: #c7c7c8;
  /*main*/
  /*footer*/
  /*footer*/
}

body header {
  /*debut header*/
  padding-top: 30px;
  background-color: #1f2024;
  color: white;
  /*fin header*/
}

body header section div:first-child {
  display: inline-block;
  text-transform: uppercase;
}

body header section div:first-child h1:first-child {
  margin-top: -10px;
  width: 120px;
  background-color: #BD1009;
  border-radius: 10%;
  padding: 5px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  float: left;
  font-weight: bold;
  font-family: 'Bree Serif', serif;
}

body header section div:first-child h1:last-child {
  float: right;
  padding-left: 6px;
}

body header section h2 {
  font-family: 'Bree Serif', serif;
}

body header .navbar {
  /*menu*/
  background-color: #BD1009;
  /*fin menu*/
}

body header .navbar a {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

body header .navbar a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body main {
  min-height: calc(100vh - 315px);
}

body main .btn {
  background-color: #09B6BD;
  color: white;
}

body main a img {
  width: 100%;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

body main a > img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body main > section:first-child {
  background-color: #e3e3e4;
}

body main > section:first-child > div {
  position: relative;
  padding-bottom: 30px;
}

body main > section:first-child .la-chevron-left {
  font-size: 2rem;
  position: absolute;
  top: 20%;
  left: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

body main > section:first-child .la-chevron-right {
  font-size: 2rem;
  position: absolute;
  top: 20%;
  right: 0;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

body main > section:first-child > div > div > div:first-of-type {
  overflow: hidden;
  padding: 0;
}

body main > section:first-child > div > div > div:nth-of-type(2) {
  padding-top: 10px;
}

body main > section:first-child > div > div > div:nth-of-type(2) a:first-child {
  color: #1f2024;
  text-decoration: none;
}

body main > section:first-child > div > div > div:nth-of-type(2) a:first-child :hover {
  color: #09B6BD;
}

body main > section:first-child > div > div > div:last-of-type {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body main > div {
  margin-top: 30px;
}

body main > div section:first-child > div > article {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 8px 8px 12px #aaa;
          box-shadow: 8px 8px 12px #aaa;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}

body main > div section:first-child > div > article h1 {
  font-size: 1.4rem;
}

body main > div section:first-child > div > article > div:first-of-type {
  overflow: hidden;
}

body main > div section:first-child > div > article span:first-of-type a {
  color: #BD1009;
  font-size: 0.9rem;
}

body main > div section:first-child > div > article span:first-of-type a :hover {
  color: #09B6BD;
}

body main > div section:first-child > div > article span:first-of-type a:hover {
  color: #09B6BD;
}

body main > div section:first-child > div > article a {
  text-decoration: none;
  color: #1f2024;
}

body main > div section:first-child > div > article a:hover {
  color: #09B6BD;
}

body main > div section:first-child > div > article p:first-child {
  color: #737476;
}

body main > div section:first-child > div > article p:last-child {
  color: #ababad;
  font-size: 0.9rem;
}

body main > div section:first-child .page-link {
  color: #1f2024;
}

body main > div section:first-child .page-item {
  min-width: 80px;
  text-align: center;
}

body main > div section:first-child .page-item :hover {
  background-color: #09B6BD;
  color: white;
}

body main > div section:first-child nav {
  -webkit-box-shadow: 8px 8px 12px #aaa;
          box-shadow: 8px 8px 12px #aaa;
  margin-bottom: 20px !important;
}

body main > div section:first-child nav ul {
  margin-bottom: 0;
}

body main aside > section {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 8px 8px 12px #aaa;
          box-shadow: 8px 8px 12px #aaa;
  margin-bottom: 10px;
}

body main aside > section > div {
  background-color: #737476;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0 5px 0;
}

body main aside > section > div h1 {
  color: white;
  margin: 0;
  font-size: 1.3rem;
}

body main aside > section article {
  border-bottom: 1px solid #ababad;
  padding-top: 10px;
  padding-bottom: 10px;
}

body main aside > section article h1 {
  font-size: 0.8rem;
}

body main aside > section article > div:first-of-type {
  padding: 0 2px 0 5px;
}

body main aside > section article > div:last-of-type {
  padding: 0 5px 0 5px;
  overflow: hidden;
}

body main aside > section article a {
  color: #1f2024;
  text-decoration: none;
}

body main aside > section article a :hover {
  color: #09B6BD;
}

body main aside > section:nth-of-type(2) {
  text-align: center;
}

body main aside > section:nth-of-type(2) p {
  font-size: 0.9rem;
  padding: 5px;
}

body main aside > section:nth-of-type(2) form {
  padding-bottom: 20px;
}

body main aside > section:nth-of-type(2) form input {
  margin: 8px;
}

body main aside > section:nth-of-type(2) form p {
  color: #BD1009;
  display: none;
}

body main aside > section:nth-of-type(2) form button {
  width: 120px;
}

body main aside > section:last-of-type {
  font-size: 2.5rem;
  text-align: center;
}

body .formulaire > div {
  background-color: #737476;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0 5px 0;
  width: 100%;
}

body .formulaire > div h1 {
  color: white;
  margin: 0;
  font-size: 1.3rem;
}

body .formulaire > form {
  background-color: white;
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
}

body .formulaire > form div label {
  width: 120px;
}

body .formulaire > form div input, body .formulaire > form div textarea {
  min-width: 400px;
}

body .formulaire > form div textarea {
  height: 200px;
}

body .formulaire > form button {
  width: 200px;
}

body footer {
  background-color: #1f2024;
  color: white;
  height: 90px;
  padding-top: 35px;
}

@media screen and (min-width: 576px) {
  .la-chevron-left {
    top: 50% !important;
    left: -40px !important;
    -webkit-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important;
  }
  .la-chevron-right {
    top: 50% !important;
    right: -40px !important;
    -webkit-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important;
  }
}
/*# sourceMappingURL=styles.css.map */